tests/**/*
Dockerfile
.eslintrc.json
!template/.eslintrc.json
.eslintignore
.prettierrc
.prettierignore
.resources
.dockerignore
commitlint.config.js
template/build/**/*
template/coverage/**/*
template/dist/**/*
vendor/**/*
docs/**/*
website/**/*
docker-compose.yml
.scannerwork
.gitattributes
.travis.yml
sonar-project.properties
website/package.json
website/README.md
yarn-error.log
.vscode
.github
.husky
MIGRATING.md