tests/**/*
Dockerfile
.eslintrc.json
.eslintignore
.prettierrc
.resources
.dockerignore
commitlint.config.js
template/build/**/*
template/coverage/**/*
template/dist/**/*
vendor/**/*
docs/**/*
website/**/*
docker-compose.yml